/**
 * @file
 * 01-atoms/01-text/_links.scss
 */

a {
  color: $blue;
  transition: 0.2s ease all;

  &:hover,
  &:focus,
  &:active {
    color: $green;
    text-decoration: none;
  }

  &:visited {
    color: #9a0fa8;
  }
}

.skip-link {
  &.focusable {
    &:focus {
      position: absolute !important;
      z-index: 6;
      top: 0;
      left: $standard-spacing;
      clip: initial; // IE support
      clip-path: initial;
      width: inherit;
      height: inherit;
      padding: $standard-spacing;
      color: $black;
      outline-color: $white;
      background: $light-green;
    }
  }
}
