/**
 * @file
 * 01-atoms/01-text/_links.scss
 */

a {
  color: $blue;
  transition: 0.2s ease all;

  &:hover,
  &:focus,
  &:active {
    color: $green;
    text-decoration: none;
  }

  &:visited {
    color: #9a0fa8;
  }
}
