/**
 * @file
 * 01-atoms/fonts/_styles.scss
 */
@mixin font-size--smaller {
  font-size: $p-font-size--smaller;
  @media (min-width: $large) {
    font-size: $p-font-size--max--smaller;
  }
}
.font-size--smaller {
  @include font-size--smaller;
}

@mixin font-size--regular {
  font-size: $p-font-size;
  @media (min-width: $large) {
    font-size: $p-font-size--max;
  }
}
.font-size--regular {
  @include font-size--regular;
}

@mixin font-size--larger {
  font-size: $p-font-size--larger;
  @media (min-width: $large) {
    font-size: $p-font-size--max--larger;
  }
}
.font-size--larger {
  @include font-size--larger;
}

.credits {
  font-size: 0.8em;
}

.title-decorative-word {
  text-transform: lowercase;
  font-family: $sans-serif;
  font-size: 0.5em;
  font-weight: $font-weight--light;
  font-style: italic;
  line-height: 1em;
  word-spacing: -$half-spacing;
}

.darkest-blue {
  color: $darkest-blue;
}

.white {
  color: $white;
}
