/**
* @file
* 04-illustration/_cloud.scss
*/
.clouds {
  position: relative;
  top: 60vw;
}

.cloud {
  position: absolute;
  width: 80vw;
  height: 30vw;
  background-image: url("../img/cloud.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.cloud-01 {
  top: -11vw;
  left: -30%;
}

.cloud-02 {
  top: -13vw;
  right: -40%;
}

.cloud-03 {
  top: -9vw;
  left: 0;
}

.cloud-04 {
  top: -6vw;
  right: -12%;
}


.title-end {
  min-height: 100vw;
}
