/**
* @file
* 04-illustration/_glacier.scss
*/
.glacier-bg {
  background-color: $snow-gray;
}

.glacier {
  position: -webkit-sticky;
  position: sticky;
  top: $double-spacing;
  min-height: 25vw;
  padding: $double-spacing 0;

  @media (max-width: $small) {
    width: 300vw;
    min-height: 75vw;
  }
}

.glacier-layer {
  position: absolute;
  width: 100%;

  &.first {
    top: 5.5vw;
    left: 0.39vw;

    @media (max-width: $small) {
      top: 19vw;
    }
  }

  &.second {
    top: 1.25vw;
    left: 0.18vw;

    @media (max-width: $small) {
      top: 6vw;
    }
  }
}

.glacier-washout {
  position: absolute;
  top: 1.7vw;
  width: 93%;
  right: 0;
}

.animations-on {
  .glacier {
    &.animate {
      animation-name: shrink;
      animation-duration: 45s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes shrink {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.5);
  }
}
