/**
* @file
* 04-illustration/_hillside.scss
*/
$pond-ratio: 8.5vw;

.hillside {
  position: relative;
  min-height: 38vw;
  background-image: linear-gradient(to bottom, $sand-tan 30%, $grass-dark-green 50%);
}

.pond {
  position: relative;
  top: 0;
  max-width: 33%;
  margin: auto;
  transform: translatex($standard-spacing);
}

.rocks {
  position: absolute;
  top: 4.4vw;
  left: 9.3vw;
  width: 80%;
  z-index: 1;
}

.flowers--small {
  position: absolute;
  top: $pond-ratio;
  left: -2vw;
  width: 100%;

  img {
    position: absolute;
    top: 0;
  }
}

.flowers--big {
  position: relative;

  .first,
  .second,
  .third {
    position: absolute;
    top: 0;
    width: 100%;
  }
}
