/**
* @file
* 04-illustration/_ice.scss
*/
.icicle-container {
  position: relative;
}

.icicles {
  position: absolute;
  width: 0.6em;
  background-image: url("../img/photo/ice.png");
  background-repeat: no-repeat;
  background-size: contain;

  &.first {
    top: 0.24em;
    right: 0em;
    height: 1.3em;
  }

  &.second {
    top: 0.24em;
    left: 0.1em;
    height: 1em;
  }
}
