/**
* @file
* 04-illustration/_marsh.scss
*/
.marsh {
  position: relative;
  min-height: 10vw;
  background-color: $sand-tan;

  img {
    width: 100%;
  }

  .reeds {
    position: absolute;
    top: 0;
    left: 20vw;
    width: 70vw;
    transform: translatey(-100%);
    @media (min-width: $medium) {
      left: 30vw;
      width: 40vw;
    }
  }

  .grass {
    position: absolute;
    top: 0;
    left: 40vw;
    width: 200vw;
    transform: translatey(-100%);

    @media (min-width: $medium) {
      left: 30vw;
      width: 70vw;
    }
  }

  .pool {
    position: absolute;
    left: -7vw;
    width: 45vw;

    @media (min-width: $medium) {
      left: -13vw;
    }
  }

  .lilly-frogs {
    position: relative;
    left: 40vw;
    width: 240vw;
    max-width: 800px;

    @media (min-width: $medium) {
      position: relative;
      left: 30vw;
      width: 60vw;
    }

    .pool {
      top: 11%;
      left: 31%;
      width: 25vw;
    }
  }

  .lilly-pads {
    position: relative;
  }

  .frog {
    position: absolute;

    .open,
    .shut {
      position: absolute;
      width: 100%;
    }

    &.small {
      top: -40%;
      left: 7%;
      width: 7vw;
      max-width: 40px;

      @media (min-width: $medium) {
        top: -0.7vw;
        left: 4.7vw;
        width: 2.2vw;
      }
    }

    &.large {
      top: -60%;
      left: 57%;
      width: 10vw;
      max-width: 60px;

      @media (min-width: $medium) {
        top: 0.5vw;
        right: 23.5vw;
        width: 3vw;
      }
    }
  }
}

.heron {
  position: absolute;
  top: 0;
  right: -2%;
  width: 20%;
  max-width: 240px;
  transform: scalex(-1);

  img {
    width: 100%;
  }

  @media (min-width: $small) {
    top: -2vw;
    width: 15%;
  }

  @media (min-width: $medium) {
    top: -8vw;
  }

  @media (min-width: 1000px) {
    right: 2%;
  }

  @media (min-width: $large) {
    top: -2%;
    right: calc(((100vw - #{$max-content-width})/2) + -12vw);
  }
}

.cormorants {
  position: absolute;
  z-index: 1;
  bottom: -1%;
  left: 3%;
  width: 20%;
  transform: scalex(-1);

  img {
    width: 100%;
  }

  @media (min-width: $large) {
    left: 6%;
  }
}
