/**
* @file
* 04-illustration/_mountain.scss
*/
$mountain-ratio: 24.283vw;

.mountain {
  background-color: $sky-blue;

  svg {
    display: block;
    width: 200%;
    margin-left: 50%;
    transform: translatex(-50%);

    @media (min-width: $small) {
      width: 100%;
    }
  }
}
