/**
* @file
* 04-illustration/_river.scss
*/
.river-container {
  position: relative;
  min-height: 81vw;
  background-color: $tree-darkest-green;

  .trees--detailed {
    top: 5vw;
    left: 3vw;
    width: 90%;
  }
}

.waterfall-bubbles {
  position: absolute;
  top: 43.2vw;
  left: 43vw;
  width: 9.7vw;
}

.waterfall-froth--back {
  position: absolute;
  top: 44.5vw;
  left: 43vw;
  width: 12vw;
}

.waterfall-froth--front {
  position: absolute;
  top: 45.5vw;
  left: 44vw;
  width: 10vw;
}

.river-container .trees--detailed.front {
  z-index: 1;
  top: 35vw;
  left: 3vw;
  width: 88%;
}

.waterfall-waves {
  position: absolute;
  top: 46vw;
  left: 47vw;
  width: 30vw;
  min-height: 13vw;
}

.waterfall-wave--front,
.waterfall-wave--back {
  position: absolute;
  width: 100%;
}

.waterfall-wave--back {
  bottom: -4%;
  left: -3%;
}

.waterfall-wave--front {
  bottom: -2%;
  left: -7.6%;
}

.salmon {
  position: absolute;
}

.salmon.first {
  top: 15%;
  left: 15%;
  width: 29%;
}

.salmon.second {
  top: 47%;
  left: 37%;
  width: 23%;
}

.salmon.third {
  top: 53%;
  left: 59%;
  width: 18%;
}

.salmon img {
  width: 100%;
}

.front-hills {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.bear {
  position: absolute;
  top: 41.5vw;
  left: 58vw;
  width: 12vw;
}

.bear img {
  position: absolute;
  width: 100%;
}
