/**
* @file
* 03-organisms/_navigation.scss
*/
$menu-width: 16rem;

.main-content,
footer {
  @media (min-width: $medium) {
    margin-left: $menu-width;
  }
}

.chapter-navigation-toggle {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: $half-spacing;
  border: none;
  background: transparentize($darkest-blue, 0.05);

  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    transform: none;
    background: transparentize($darkest-blue, 0.05);
  }

  @media (min-width: $medium) {
    display: none;
  }
}

.chapter-navigation {
  position: fixed;
  z-index: 5;
  overflow-y: scroll;
  width: $menu-width;
  height: 100vh;
  padding: $double-spacing $double-spacing $double-spacing 0;
  transition: all ease 0.2s;
  background: transparentize($darkest-blue, 0.05);
  font-size: $p-font-size--smaller;

  scrollbar-color: $dark-blue $darkest-blue;
  scrollbar-width: auto;

  @media (min-width: $medium) {
    width: $menu-width;
    background-color: $darkest-blue;
  }

  &.open {
    left: 0;

    .chapter-navigation-toggle {
      background: transparent;

      &:hover,
      &:focus,
      &:active {
        background: transparent;
      }
    }
  }

  &.closed {
    @media (max-width: $medium) {
      left: calc(-#{$menu-width} + 60px);
      background-color: transparent;


      .main-menu {
        display: none;
      }
    }
  }

  h2 {
    display: inline-block;
    margin-top: $standard-spacing;
    margin-bottom: $half-spacing;
    padding: $standard-spacing;
    text-align: left;
    text-transform: none;
    color: $white;
    text-shadow: none;
    font-family: $sans-serif;
    font-size: $h5-font-size;
  }

  ul {
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    color: white;

    a {
      display: grid;
      padding: $half-spacing $standard-spacing;
      text-decoration: none;
      color: $white;
      font-weight: lighter;

      grid-template-areas: "icon name"
      "icon author";
      grid-template-columns: $p-font-size--smaller auto;
      grid-template-rows: auto auto;

      &.current {
        color: $lightest-green;
      }

      &:active,
      &:hover,
      &:focus {
        .chapter-name {
          font-weight: bold;
        }
      }
    }
  }

  /* Works on Chrome, Edge, and Safari */
  &::-webkit-scrollbar {
    width: initial;
  }

  &::-webkit-scrollbar-track {
    background: $darkest-blue;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: $dark-blue;
  }
}

.chapter {
  visibility: hidden;
  transition: all ease 0.2s;
  opacity: 0;

  .material-icons {
    position: relative;
    top: 2px;
    float: left;
    font-size: $p-font-size--smaller;
  }
}

.chapter-name {
  transition: font-weight ease 0.2s;

  grid-area: name;
}

.chapter-author {
  padding-left: $standard-spacing;
  font-size: 0.8em;
  font-style: italic;

  grid-area: author;
}

a:hover .chapter,
a:focus .chapter,
a:active .chapter,
.current .chapter {
  visibility: visible;
  opacity: 1;
}
