/**
* @file
* organisms/site-footer/_site-footer.scss
*/

.site-footer {
  padding: $double-spacing;
  color: $white;
  background-color: $blue;

  > div {
    max-width: $max-content-width;
    margin: auto;
  }

  a {
    color: $white;

    &:active,
    &:hover,
    &:focus {
      color: $darkest-blue;
      background-color: $light-gray;
    }
  }
}
