/**
* @file
* 03-organisms/articles/_article-07.scss
*/
.article-07 {
  background-color: $tree-light-green;
  background-image: linear-gradient(to bottom, $tree-light-green, $tree-medium-green);

  a {
    color: $darkest-blue;

    &:hover,
    &:focus,
    &:active {
      color: $white;
      background-color: mix($black, $brick-red, 50%);
    }
  }

  > div {
    padding-bottom: 72px;
  }

  article {
    position: relative;
    max-width: $max-content-width + ($triple-spacing * 2);
    padding: $triple-spacing;
    border-radius: $border-radius--round-square;
    background-color: $brick-red;
    box-shadow: $shadow;
  }

  .article-title,
  h3 {
    color: $white;
    text-shadow: 2px 2px 0 $black;
  }

  blockquote {
    color: $white;
    border-radius: $border-radius--square;
    background-color: $blue;
    box-shadow: inset -2px -2px 4px transparentize($black, 0.8);

    p {
      padding: $standard-spacing;

      @media (min-width: 581px) {
        padding: $double-spacing;
      }
    }
  }
}

#chapter-07 {
  .call-out-box {
    width: 100%;
    margin: $standard-spacing;
    padding: $double-spacing;
    text-align: center;
    color: white;
    border-radius: $border-radius--round-square;
    background-color: $street-gray;

    h3 {
      color: $lightest-green;
    }

    @media (min-width: $small) {
      width: 80%;
      max-width: $max-content-width;
      margin: auto;
    }
  }

  .to-be-continued {
    position: relative;
    z-index: 1;
    margin-top: -2.8vw;
    padding-bottom: 0;
    color: $darkest-blue;

    > div {
      padding-top: $triple-spacing;
      padding-bottom: $double-spacing;
      background-image: linear-gradient($sand-tan, $water-light-blue);

      h2 {
        color: $dark-blue;
      }
    }
  }
}
