/**
* @file
* 03-organisms/articles/_article-10.scss
*/
.article-10 {
  color: $white;
  background-color: $ocean-darkest-blue;

  article {
    position: relative;
  }

  .article-title {
    color: $water-light-blue;
    text-shadow: none;
  }

  .tagline {
    color: $water-medium-blue;
  }

  .title-decorative-word {
    word-spacing: 0.11em;
  }

  .call-out-box {
    margin-bottom: 0;
    padding: $standard-spacing;
    border-radius: $border-radius--square;
    background-image: linear-gradient($darkest-blue, $black);

    @media (min-width:$medium) {
      padding: $double-spacing;
    }

    h3 {
      color: $water-light-blue;
    }

    > div {
      padding: $standard-spacing;
    }
  }

  blockquote {
    border-radius: $border-radius--round-square;
    background-color: $darkest-blue;

    > div {
      padding: $standard-spacing;

      @media (min-width: $medium) {
        padding: $double-spacing;
      }
    }
  }

  .photo {
    position: relative;
    z-index: 1;
  }
}
