/**
* @file
* 03-organisms/articles/_article-01.scss
*/

.article-01 {
  h2 {
    color: mix($sky-blue, $white, 10%);
    text-shadow: -2px -2px 0 transparentize($darkest-blue, 0.1);
  }

  .body {
    background-color: mix($sky-blue, $white, 50%);
  }

  .bio {
    margin-top: $standard-spacing * 6;
    margin-bottom: $double-spacing * 2;
    padding: $double-spacing;
    color: $white;
    background-color: mix($sky-blue, $dark-blue, 24%);
    font-size: $p-font-size--smaller;

    h3 {
      margin-top: 0;
      color: $white;
    }
  }

  blockquote {
    margin-top: $double-spacing;
    margin-bottom: $double-spacing;
    padding: $double-spacing;
    color: $white;
    background-color: $dark-blue;
    box-shadow: $shadow;
    font-weight: 300;


    &:nth-of-type(odd) {
      margin-left: -($standard-spacing * 3) + $half-spacing;
      border-radius: 0 $border-radius--round-square $border-radius--round-square $border-radius--round-square;

      @media (min-width: $medium) {
        margin-left: -10%;
      }
    }

    &:nth-of-type(even) {
      margin-right: -($standard-spacing * 3) + $half-spacing;
      border-radius: $border-radius--round-square 0 $border-radius--round-square $border-radius--round-square;

      @media (min-width: $medium) {
        margin-right: -10%;
      }
    }

    &:last-of-type {
      margin-bottom: -($standard-spacing *6);
    }

    @media (min-width: $medium) {
      margin-top: $double-spacing * 2;
      margin-bottom: $double-spacing * 2;
    }
  }
}
