/**
* @file
* 03-organisms/articles/_article-05.scss
*/

#chapter-05 {
  overflow-x: hidden;
}

.article-05 {
  z-index: 0;
  color: $white;
  background-color: $tree-light-green;

  .burn-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -webkit-linear-gradient($burnt-tree-black, $tree-darkest-green);
    background-color: $burnt-tree-black;
  }

  article {
    position: relative;
    padding-top: $triple-spacing;
  }

  .article-title {
    color: $yellow;
    background: -webkit-linear-gradient($fire-yellow, $fire-orange, $fire-red);
    -webkit-background-clip: text;
    text-shadow: 2px 2px 0 transparentize($red, 0.9);
    font-size: $h1-font-size--largest;

    -webkit-text-fill-color: transparent;

    @media (min-width: $large) {
      font-size: $h1-font-size--max--largest;
    }
  }

  h3 {
    color: $white;
    background: -webkit-linear-gradient($white, mix($gray, $light-gray));
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
  }

  .tagline {
    font-size: $h5-font-size--larger;
    line-height: 1.2em;
  }

  .title-decorative-word {
    word-spacing: 0.1em;
  }

  blockquote {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    padding: $double-spacing;
    opacity: 0.9;
    color: $white;
    border-radius: $border-radius--square;
    background-color: transparentize(mix($white, $black, 40%), 0.5);
    font-weight: $font-weight--light;
  }

  .call-out-box {
    margin: auto;
    padding: $double-spacing;
    max-width: 80%;
    text-align: center;
    color: $white;
    background-color: mix($tree-light-green, $tree-darkest-green, 50%);

    h3 {
      color: $white;
      background: none;
      -webkit-background-clip: initial;

      -webkit-text-fill-color: initial;
    }
  }
}
