/**
* @file
* 03-organisms/articles/_article-04.scss
*/

.article-04 {
  background-color: $grass-dark-green;

  .article-title {
    position: relative;
    max-width: $large;

    .butterfly-wrapper {
      right: 26%;
      bottom: 50%;
      max-width: 15vw;

      .butterfly {
        transform: rotate(30deg);
      }

      @media (min-width: $small) {
        right: 29%;
        bottom: 44%;
      }

      @media (min-width: $large) {
        right: 32%;
        bottom: 35%;
      }
    }
  }

  h2 {
    color: $white;
    text-shadow: none;
  }

  p {
    color: $white;
  }

  blockquote {
    position: relative;
    padding: $double-spacing;
    background-color: $green;
    box-shadow: $shadow;

    &:nth-of-type(odd) {
      margin-left: -($standard-spacing * 3) + $half-spacing;
      border-radius: 0 $border-radius--round-square $border-radius--round-square $border-radius--round-square;

      @media (min-width: $medium) {
        margin-left: -10%;
      }
    }

    &:nth-of-type(even) {
      margin-right: -($standard-spacing * 3) + $half-spacing;
      border-radius: $border-radius--round-square 0 $border-radius--round-square $border-radius--round-square;

      @media (min-width: $medium) {
        margin-right: -10%;
      }
    }

    &:nth-of-type(2) {
      .butterfly-wrapper {
        top: -8%;
        left: -20%;
        max-width: 30vw;

        @media (min-width: $small) {
          left: -10%;
        }

        .butterfly {
          transform: rotate(-20deg) scale(80%);
        }
      }
    }

    &:nth-of-type(3) {
      .butterfly-wrapper {
        bottom: -13%;
        left: 50%;
        .butterfly {
          transform: rotate(160deg);
        }

        @media (min-width: $medium) {
          bottom: -23%;
        }
      }
    }

    &.power-quote {
      display: inline-block;
      margin: ($standard-spacing * 4) 0;
      text-align: center;
      border-radius: $border-radius--square;
      background-color: $light-green;

      p {
        margin-bottom: 0;
        color: $grass-dark-green;
        font-size: $p-font-size--larger;
        font-weight: $font-weight--regular;
      }

      .butterfly-wrapper:nth-of-type(1) {
        top: -30%;
        left: -18%;
        .butterfly {
          transform: rotate(-40deg) scale(90%);
        }
      }

      .butterfly-wrapper:nth-of-type(2) {
        top: -73%;
        left: 23%;
        .butterfly {
          transform: rotate(4deg) scale(118%);
        }
      }

      .butterfly-wrapper:nth-of-type(3) {
        top: 100%;
        left: 40%;
        .butterfly {
          transform: rotate(210deg) scale(130%);
        }
      }

      .butterfly-wrapper:nth-of-type(4) {
        top: -50%;
        right: 0;
        .butterfly {
          transform: rotate(22deg) scale(80%);
        }
      }

      .butterfly-wrapper:nth-of-type(5) {
        right: -18%;
        bottom: -72%;
        .butterfly {
          transform: rotate(122deg) scale(80%);
        }
      }
    }
  }

  .tagline {
    font-weight: $font-weight--light;
    line-height: 1.1em;

    .title-decorative-word {
      word-spacing: 0.1em;
    }
  }

  .call-out-box {
    padding: $double-spacing;
    background-color: $tree-darkest-green;

    p {
      color: $white;
      font-weight: $font-weight--light;
    }

    h3 {
      margin-top: 0;
      color: $light-green;
    }

    .button {
      @include button-box-shadow($lightest-green);
      margin-top: $double-spacing;
      color: $grass-dark-green;
      background-color: $light-green;
      font-weight: $font-weight--regular;

      &:hover,
      &:focus,
      &:active {
        @include button-box-shadow($light-green);
        color: $white;
        border-color: $lightest-green;
        background-color: $green;
      }
    }
  }
}
