/**
* @file
* 03-organisms/articles/_article-08.scss
*/
.article-08 {
  background: linear-gradient($sand-tan, $water-light-blue);

  .article-title,
  .tagline {
    color: $mud-dark-brown;
    text-shadow: none;
  }

  .article-title {
    font-size: calc(36px + 64 * ((100vw - 300px) / 1000));

    @media (min-width: $medium) {
      font-size: 80px;
    }
  }

  .title-decorative-word {
    word-spacing: 0;
  }

  .tagline {
    font-size: calc(21.832px + 16.524 * ((100vw - 300px) / 1000));

    @media (min-width: $medium) {
      font-size: 35px;
    }
  }

  blockquote {
    width: 100%;
    margin-left: 0;
    padding: $standard-spacing;
    color: $white;
    border-radius: $border-radius--round-square;
    background-color: $mud-brown;

    @media (min-width: $small) {
      padding: $double-spacing;
    }
  }

  .photo {
    position: relative;
    z-index: 1;
  }

  .mud.photo-caption {
    margin-top: $standard-spacing;
    margin-bottom: $standard-spacing;
    color: $white;
    border-radius: $border-radius--square;
    background-color: $tree-medium-green;
  }

  .call-out-box {
    width: 80%;
    padding: $standard-spacing;
    text-align: center;
    color: $black;
    border-radius: $border-radius--round-square;
    background-color: $sand-tan;
    margin: auto;

    @media (min-width: $small) {
      padding: $double-spacing;
    }
  }
}

#chapter-08 {
  .to-be-continued {
    padding-bottom: 0;
    color: $darkest-blue;
    background: linear-gradient($water-light-blue, $water-medium-blue);

    h2 {
      color: $dark-blue;
    }
  }
}
