/**
* @file
* 03-organisms/articles/_article-03.scss
*/

.article-03 {
  h2 {
    max-width: none;
    transform: rotate(-5deg) !important;
  }

  .tagline {
    text-shadow: -1px -1px 0 transparentize($white, 0.5);
  }

  .body {
    background-color: transparentize($white, 0.2);
  }

  blockquote {
    background-color: transparentize($rock-gray, 0.2);
    color: $white;
    font-weight: $font-weight--light;
    padding: $standard-spacing;
    border-radius: $border-radius--square;
    width: 100vw;
    margin-left: -$standard-spacing;
    z-index: 0;

    @media (min-width: $medium) {
      width: calc(100% + #{$standard-spacing * 8});
      margin-left: -($standard-spacing * 4);
    }
  }

  .photo {
    position: relative;
    z-index: 1;
    margin-bottom: $triple-spacing;

    .photo-caption {
      background-color: $white;
      margin-top: $standard-spacing;
    }
  }
}

.animations-on {
  .article-03 {
    blockquote {
      &:nth-of-type(odd) {
        transform: rotate(-15deg);
      }

      &:nth-of-type(even) {
        transform: rotate(15deg);
      }
    }
  }
}
