/**
 * @file
 * 00-utilities/colors.scss
 */

// Shades of gray
$black: #262b2f;
$gray: #667986;
$light-gray: #e3e7e9;
$lightest-gray: #f5f6f7;
$white: #fff;

// WWU brand colors
$dark-blue: #003f87;
$blue: #007ac8;
$dark-green: #006b3f;
$light-green: #bad80a;

// Almost brand colors
$darkest-blue: #002f5e;
$light-blue: #41b6ff;
$green: #4a821e;
$lightest-green: #d6e86c;

// Special Use Colors
$red: #cc2d30;
$yellow: #ffc61e;
$link-blue: #006ebb;

// Colors for this project
$brick-red: #bb8269;
$burnt-tree-black: #231f20;
$fire-yellow: #E3D753;
$fire-orange: #D96107;
$fire-red: #a0270a;
$glass-blue: #0B89C6;
$grass-dark-green: #2E3C24;
$mud-brown: #706255;
$mud-dark-brown: #594A40;
$ocean-lightest-blue: #94ccea;
$ocean-light-blue: #4285b2;
$ocean-medium-blue: #006da0;
$ocean-dark-blue: #005e8a;
$ocean-darkest-blue: #00558f;
$sand-tan: #C8BFB7;
$sky-blue: #62B9E3;
$snow-gray: #e8e8e8;
$street-gray: #666666;
$tree-darkest-green: #395b39;
$tree-dark-green: #6e9760;
$tree-medium-green: #5E7F3D;
$tree-light-green: #86a764;
$tree-lightest-green: #b1db77;
$rock-gray: #696969;
$water-light-blue: #a1d2ed;
$water-medium-blue: #aed8ef;
$water-dark-blue: #32acde;
