/**
 * @file
 * 01-atoms/_page.scss
 */

html {
  * {
    box-sizing: border-box;
  }

  &.animations-on {
    scroll-behavior: smooth;
  }

  &.animations-off {
    scroll-behavior: auto;
  }
}

main {
  position: relative;
  overflow-x: hidden;
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px,1px,1px,1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

.content {
  max-width: $max-content-width;
  margin-left: 5vw;
  padding: $standard-spacing;
}
