/**
* @file
* 01-atoms/_photo.scss
*/
.photo {
  margin-bottom: $double-spacing;
  position: relative;

  img {
    width: 100%;
    box-shadow: $shadow;
  }

    &.small {
      max-width: 50%;

      @media (min-width: $medium) {
        max-width: 40%;
      }
    }


  &.medium {
    max-width: 60%;

    @media (min-width: $medium) {
      max-width: 50%;
    }
  }

  &.large {
    max-width: 70%;
  }

  &.full {
    width: 100%;
  }

  &.center {
    margin: 0 auto ($standard-spacing * 3);
  }

  &.left {
    float: left;
    margin-right: $standard-spacing;
    margin-left: -$standard-spacing;

    @media (min-width: $medium) {
      margin-right: $double-spacing;
      margin-left: -10%;
    }
  }

  &.right {
    float: right;
    margin-right: -($standard-spacing * 3) + $half-spacing;
    margin-left: $standard-spacing;

    @media (min-width: $medium) {
      margin-right: -10%;
      margin-left: $double-spacing;
    }
  }
}

.photo-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  color: $white;
  padding: $half-spacing $standard-spacing;
  font-size: $p-font-size--smaller;
  background-color: rgba(0,0,0,0.75);
}
